*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error_page_wrapper{
    width: 100%;
    height: auto;
}

.error_svg_container{
    margin: auto;
    height: 20rem;
    width: 80%;
    display: flex;
    justify-content: center;
}

.error_svg_container img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.error_desc{
    margin:2rem auto;
    text-align: center;
}